/* components/ExperienceSection.css */
.experience-section {
  height: 100vh;
  background-color: #e6f2ff;
  color: #1a1a1a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.experience-title {
  font-size: 36px;
  margin-bottom: 30px;
}

.experience-item {
  margin-bottom: 20px;
  text-align: center;
}
